<nav>
  <a href="/about">about company</a>
  <!-- 一下是用link-to动态的生成一些模版 -->
  {{link-to "about company" "about"}}

  <a href="/contact">about us</a>
  <!-- linke to 的快捷方法去生成 -->
  {{#link-to 'parent'}}
    go to parent
  {{/link-to}}
</nav>

<h1>Ajax data</h1>
<h2>method 1 直接在modle里面 写ul</h2>
<ul>
  {{#each model as |person|}}
    <li>{{concat person.id '---' person.login}}</li>
  {{/each}}
</ul>

<h1>Ajax data</h1>
<h2>method 2 用component</h2>
<ul>
  {{#each model as |person|}}
    {{ui/ui-cord item = person}}
  {{/each}}
</ul>

<h1>修改上面 method2 li是被div包含的问题</h1>

<p>需要在ui-cord的js文件里面 写上 key-value pair 是 tagName: 'li'</p>
<ul>
  <li>1.首先把ui-cord template里面的li去掉</li>
</ul>
<ul>
  {{#each model as |person|}}
    {{ui/ui-cord item = person}}
  {{/each}}
</ul>

<section>
  <h1>loop helper: 怎么添加index 的选项</h1>
  <ul>
    {{#each model as |person index|}}
      <span>{{index}}:</span>
      {{ui/ui-cord item = person}}
    {{/each}}
  </ul>
</section>

<section>
  <h1>this is for test helper function</h1>
  <p>template 里面支持 更多的自定义运算:这里面是sum 运算 </p>
  <p></p>
  <p>Total: {{sum (mutiple 2 4) 3 3}}</p>
</section>


<section>
  <h1>action helper 的使用</h1>
  <button {{action "toggleBody"}}>隐藏内容</button>
  {{testData}}
  {{#if isShowingBody}}
    <p>this is body</p>
  {{/if}}
</section>
{{outlet}}
