<nav>
  <a href="/about">about company</a>
  <!-- 一下是用link-to动态的生成一些模版 -->
  {{link-to "about company" "about"}}

  <a href="/contact">about us</a>
  <!-- linke to 的快捷方法去生成 -->
  {{#link-to 'parent'}}
    go to parent
  {{/link-to}}
</nav>

<h1>Ajax data</h1>
<h2>method 1 直接在modle里面 写ul</h2>
<ul>
  {{#each model as |person|}}
    <li>{{concat person.id '---' person.login}}</li>
  {{/each}}
</ul>

<h1>Ajax data</h1>
<h2>method 2 用component</h2>
<ul>
  {{#each model as |person|}}
    {{ui/ui-cord item = person}}
  {{/each}}
</ul>

<h1>修改上面 method2 li是被div包含的问题</h1>

<p>需要在ui-cord的js文件里面</p>
<ul>
  {{#each model as |person|}}
    {{ui/ui-cord item = person}}
  {{/each}}
</ul>
<h1>how to import data from route to controller</h1>
<p>
  {{copyData}}
</p>
{{outlet}}
